<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus!</h2>
            
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error maiores maxime inventore atque dolorem consequuntur dolor beatae, suscipit quasi assumenda? </h4>
            </div>
            <div class="mb-100"><img src="assets/images/embajador/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">L</span>orem ipsum dolor sit amet consectetur adipisicing elit. Accusamus porro commodi, ea repellendus odit dolor modi impedit voluptatem earum! Doloribus delectus perspiciatis soluta amet sed quod dignissimos, accusantium quis exercitationem error iusto numquam excepturi iure voluptate esse, incidunt magni modi.</p>
              <p><span class="cap">L</span>orem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit nobis, ipsam molestiae debitis necessitatibus consequuntur et beatae! Dicta magnam nesciunt laborum pariatur ipsam nemo perferendis quae molestias aliquam asperiores tempora facere, earum deserunt, vero possimus iure suscipit sapiente odio, ad sequi commodi? Recusandae doloribus esse ad consectetur explicabo, at quos sit distinctio voluptatibus. Et dolore ratione alias ea facilis culpa recusandae laboriosam blanditiis, dicta, omnis nulla illo vero, beatae esse at doloribus pariatur quas delectus? Quam placeat ipsa excepturi magni beatae. Quod, asperiores expedita possimus accusantium odit amet harum. Sint, commodi laboriosam ut fugit qui ex molestiae maiores obcaecati.</p>
            </div>
            <div class="ps-post__text mb-0" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-1.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-2.jpg" alt=""></div>
                </div>
              </div>
              
            </div>


          </div>
          
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
