<app-nav></app-nav>

<section class="border-bottom py-3 pt-md-4 mb-4 mt-5">
    <div class="container">
      <div class="row justify-content-center pb-2 pb-md-3">
        <div class="col-lg-8 col-md-10">
          <h1 class="mb-4 pb-1 text-center">Política de envío y cambio</h1>
    
        </div>
      </div>
    </div>
</section>

<section class="border-bottom" >
    <div class="container py-2 pt-md-3 mt-7" style="margin-bottom: 100px !important;">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mb-5">

            <h3 class="mb-7 pb-1 text-center" style="margin-bottom: 4rem;    margin-top: 4rem;">Información de envío</h3>
          
            <h4 class=" mb-2 pb-1">
                ¿Cuál es la cobertura de envío?
            </h4>
            <p class="d-sm-none d-md-block card-text mb-5">
                Las futboleras estamos en todos lados, por eso realizamos envíos nacionales e internacionales.
            </p>

            <h4 class=" mb-2 pb-1">
                ¿En cuánto tiempo llegará mi pedido?
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                <b>Lima: </b> de 2 a 5 días hábiles, contando desde el día hábil siguiente del pago de tu pedido. Regularmente tu pedido llegará en 2 días en los siguientes distritos: Miraflores, San Borja, San Isidro, Surco, Surquillo, Jesús María, Lince, La Victoria, Magdalena, Pueblo Libre y San Miguel.
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                <b>Provincia: </b> de 3 a 7 días hábiles, contando desde el día hábil siguiente del pago de tu pedido.
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                <b>Internacional: </b> nuestros envíos internacionales son realizados vía DHL. El tiempo estimado de entrega es de 5 a 10 días hábiles, contando desde el día hábil siguiente del pago de tu pedido. Estos tiempos pueden variar si el paquete es retenido por las autoridades locales o la aduana.
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                La tienda virtual acepta el ingreso de pedidos 24/7, pero los pedidos realizados pasadas las 5:00 p.m. (hora peruana GMT-5) serán considerados como ingresos el siguiente día hábil.
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 1rem !important;">
                Nuestro compromiso es ofrecerte el mejor servicio de envío en los tiempos establecidos. Si no ha sido así, por favor escríbenos a 
                <b class="text-primary">contacto@domain.com</b>
            </p>
        </div>

        <div class="col-lg-8 col-md-10">

            <h3 class="mb-7 pb-1 text-center" style="margin-bottom: 4rem;">Información de cambios</h3>
          
            <h4 class=" mb-2 pb-1">
                ¿Puedo realizar el cambio de un producto?
            </h4>

            <p class="d-sm-none d-md-block card-text">
                La tienda realiza cambios solo a compras realizadas en territorio peruano. Para ello, debes escribirnos a contacto@domain.com dentro de los primeros 7 días hábiles de haber recibido tu pedido teniendo en cuenta lo siguiente:
            </p>

            <ol>
                <li>
                    <p class="d-sm-none d-md-block card-text">1.	El recargo de envío por cambio de producto será asumido por el cliente.</p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        2.	El producto debe estar nuevo y sin señales de uso.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        3.	Debe ser devuelto con las etiquetas y empaque original en buen estado.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        4.	En caso la prenda por adquirir sea de un precio menor, se otorgará una giftcard con el monto restante para su uso en este sitio web, los siguientes 15 días.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text"  style="margin-bottom: 3rem !important;">
                        5.	No realizamos devoluciones de dinero. Solo en casos puntuales como: incumplimiento de envío o envío de producto en malas condiciones.
                    </p>
                </li>
            </ol>

            <h4 class=" mb-2 pb-1">
                ¿Qué hago si el producto que compré tiene alguna falla?
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 3rem !important;">
                Si recibiste un producto que presenta alguna falla, podrás solicitar su cambio dentro de los primeros 7 días hábiles de haber recibido tu pedido. En este caso, tras su evaluación, nosotras asumiremos el recargo de envío.
            </p>

            <h4 class=" mb-2 pb-1">
                ¿Cómo realizo el cambio?
            </h4>

            <ol>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Envíanos un correo a contacto@domain.com indicando cuál es tu solicitud de cambio y tu número de pedido.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Tu correo será respondido en un plazo de 3 días hábiles como máximo.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Envíanos el producto a la dirección que se te indicará por correo.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        El producto será revisado y tras su evaluación, se realizará el cambio. De no contar con el stock disponible, se emitirá una giftcard virtual por el valor pagado por la prenda.
                    </p>
                </li>
               
            </ol>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 3rem !important;">*Las compras internacionales no cuentan con cambios ni devoluciones.*</p>
            
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>