<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>Conoce un poco más de nuestras Embajadoras</h2>
            
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, repudiandae. Possimus deleniti expedita rem facilis distinctio, nobis exercitationem temporibus, necessitatibus quam ipsum, maxime in praesentium. Eveniet suscipit velit quasi temporibus.</h4>
            </div>
            <div class="mb-100"><img src="assets/images/embajador/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">L</span>orem ipsum dolor sit amet consectetur, adipisicing elit. Minus nam aliquid, ratione sunt delectus, corporis soluta, omnis distinctio dolore labore dolorem fugiat animi ab quos assumenda! Aperiam, laboriosam quam sint magnam facilis repellat dolorum placeat at possimus id voluptas voluptatem. Repudiandae dignissimos repellendus deserunt facilis quia, officia ut aut blanditiis in praesentium voluptatibus. Magnam placeat suscipit quaerat iusto cum autem.</p>
           
            </div>
            <div class="ps-post__text mb-0" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src="assets/images/embajador/detail-2.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src="assets/images/embajador/detail-3.jpg" alt=""></div>
                </div>
              </div>
              <h4>Lorem ipsum - Periodista y Narradora deportiva</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae accusamus voluptatem. Culpa ipsam voluptatem eum dolore quasi laudantium tenetur perferendis adipisci. Unde aut praesentium obcaecati consequatur earum quasi ipsam maiores culpa blanditiis accusantium quia corporis exercitationem laborum, sit omnis? Quos qui voluptas architecto, debitis asperiores corporis hic velit saepe.</p>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam id obcaecati incidunt? Cupiditate, fuga earum. Molestias pariatur quasi sunt beatae itaque suscipit eligendi, illo iusto aliquid. Maxime voluptates accusamus, recusandae, tempore earum expedita asperiores, dolore commodi vero blanditiis minima sapiente et fugit repellat reiciendis alias velit tempora qui laborum sint neque nihil cupiditate perferendis similique. Tempore, facere. Reiciendis, laudantium.</p>

              <p>¡Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore excepturi cumque numquam eos quidem tenetur doloribus! Quo vel ut in repellendus, veniam culpa, rerum reprehenderit obcaecati nostrum, quas error?</p>

              <p class="mb-0"><p class="mb-0">Instagram: @lorem</p>
            </div>


            <div class="ps-post__text mb-0" style="margin-top:80px">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                    <div class="mb-100"><img src="assets/images/embajador/detail-2.jpg" alt=""></div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                    <div class="mb-100"><img src="assets/images/embajador/detail-3.jpg" alt=""></div>
                  </div>
                </div>
                <h4>Lorem - Futbolista Profesional y Publicista</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quia exercitationem. Nemo eum repellendus a officiis incidunt et, ab iusto odit maiores itaque veniam quae labore quaerat quibusdam molestias, impedit asperiores aperiam? Unde officiis ab minima error est deleniti maxime itaque consequatur atque sapiente, fugit perferendis voluptate sed incidunt eaque..</p>
  
                <p>¡Su fuerza, temperamento y profesionalismo, la convierten en uno de los referentes del fútbol femenino peruano, que motiva a cualquiera a dejarlo todo en la cancha!</p>
  
                <p class="mb-0">Instagram: @lorem</p>
              </div>
          </div>
          
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
