<app-sidebar></app-sidebar>


<ng-container *ngIf="rol!=undefined && rol=='admin'">
  <div class="main-content" >
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-12 col-xl-10">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Módulo
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        Administrativo
                    </h1>

                  </div>
                </div> <!-- / .row -->
      
              </div>
            </div>

            <!-- Alert -->


            <!-- Card -->
            <div class="card">
              <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                  Mostrando todos los usuarios
                </h4>

              </div>
              <div class="card-body" >
                <div class="input-group input-group-merge">
                    <input type="text" class="form-control form-control-appended" placeholder="Buscar estudiante" name="filtro" [(ngModel)]="filtro">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="filtrar_estudiante()">
                          Buscar
                      </button>
                      
                        </div>
                        <div class="col" >
                          <a class="btn btn-primary" [routerLink]="['/administrativo/create']" routerLinkActive="router-link-active"  style="cursor: pointer;">Nuevo Usuario</a>
                        </div>   
                
                  
                    
                  </div>
                  
                  
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th>Estudiante</th>
                      <th>Estado</th>
                      <th>Correo</th>
                      <th>Trabajo</th>
                      <th>Telefono</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody class="font-size-base">
                    <tr *ngFor="let item of estudiantes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <ng-container *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && item.estado!='Fuera' && yo==0">
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && item.estado!='Fuera'">
                        <a class="text-primary">{{item.nombres}} {{item.apellidos}}</a>
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec'  && item.estado!='Fuera'">
                        <span *ngIf="item.estado=='deshabilitado'"> <i class="fe fe-minus"></i> </span>
                        <span *ngIf="item.estado=='habilitado'"><i class="fe fe-check"></i>  </span>
                        
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec'  && item.estado!='Fuera'">
                        {{item.email}}
                      </td>
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && item.estado!='Fuera'">
                       <span *ngIf="item.rol=='vent'">Vendedor</span>
                       <span *ngIf="item.rol=='admin'">Administrativo</span>
                      </td>
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && item.estado!='Fuera'">
                        <span *ngIf="item.telefono">{{item.telefono}}</span>
                        <span *ngIf="!item.telefono">No registrado</span>
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && item.estado!='Fuera'">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAlias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                          </button>
                        
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
                            <li>
                              <a class="dropdown-item" [routerLink]="['/administrativo/edit',item._id]">Editar</a>
                            </li>
                         
                            <li>
                              <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar</a>
                            </li>
                            

                           </ul>
                        </div>
                        <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Eliminar, {{item.nombres}} {{item.apellidos}}</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body">
                                <p>Desea eliminar este usuairo?</p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar(item._id)" type="button">Si, eliminar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                      </td>
                    </ng-container>
                    <ng-container *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' && yo==1">
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec'">
                        <a class="text-primary">{{item.nombres}} {{item.apellidos}}</a>
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec'  ">
                        <span *ngIf="item.estado=='deshabilitado'"> <i class="fe fe-minus"></i> </span>
                        <span *ngIf="item.estado=='habilitado'"><i class="fe fe-check"></i>  </span>
                        <span *ngIf="item.estado=='Fuera'"><i class="fe fe-x"></i></span>
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' ">
                        {{item.email}}
                      </td>
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' ">

                       <span *ngIf="item.rol=='vent'">Vendedor</span>
                       <span *ngIf="item.rol=='admin'">Administrativo</span>
                      </td>
                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' ">
                        <span *ngIf="item.telefono">{{item.telefono}}</span>
                        <span *ngIf="!item.telefono">No registrado</span>
                      </td>

                      <td *ngIf="item.email!='samuel.arevalo@espoch.edu.ec' ">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAlias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                          </button>
                        
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
                            <li>
                              <a class="dropdown-item" [routerLink]="['/administrativo/edit',item._id]">Editar</a>
                            </li>
                         
                            <li>
                              <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar</a>
                            </li>
                            

                           </ul>
                        </div>
                        <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Eliminar, {{item.nombres}} {{item.apellidos}}</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body">
                                <p>Desea eliminar este usuairo?</p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar(item._id)" type="button">Si, eliminar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                      </td>
                    </ng-container>    
  
                    </tr>
                   
                  </tbody>
                </table>
                
              </div>

            </div>
                <ngb-pagination *ngIf="estudiantes.length >= 1"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [maxSize]="10"
                        [rotate]="true" [boundaryLinks]="true"
                [collectionSize]="estudiantes.length"></ngb-pagination>
  
            <br>

          </div>
        </div> <!-- / .row -->
      </div>
</div>
</ng-container>


<ng-container  *ngIf="rol!=undefined && rol!='admin'">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">
          
          <div class="text-center">
          
            <!-- Preheading -->
            <h6 class="text-uppercase text-muted mb-4">
              404 error
            </h6>

            <!-- Heading -->
            <h1 class="display-4 mb-3">
              Está página no se cuentra habilitada 😭
            </h1>

            <!-- Subheading -->
            <p class="text-muted mb-4">
              ¿Parece que llegaste aquí por accidente?
            </p>

            <!-- Button -->
            <a [routerLink]="['/clientes']"  class="btn btn-lg btn-primary">
              Regresar a Clientes
            </a>
          
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>