<app-nav></app-nav>

<div class="ps-page--default">
    <div class="container">
      <div class="ps-page__header">
        <h3>Mi cuenta</h3>
        <ul class="ps-breadcrumb">
          <li><a  style="cursor: pointer;" [routerLink]="['/cuenta/perfil']" >Mi perfil</a></li>
          <li class="active"><a><b>Direcciones</b></a></li>
          <li><a  style="cursor: pointer;" [routerLink]="['/cuenta/pedidos']">Mis pedidos</a></li>
          <li><a  style="cursor: pointer;" [routerLink]="['/cuenta/reviews']">Mis reseñas</a></li>
          
        </ul>
      </div>
      <div class="ps-page__content">

<div class="ps-tab-root">
        <div class="ps-form--auth" style="max-width: 500px !important;">
          <ul class="ps-tab-list">
            <li [ngClass]="{'active': op == 1}" (click)="changeOp(1)"><a>Nueva dirección</a></li>
            <li [ngClass]="{'active': op == 2}" (click)="changeOp(2)"><a>Direcciones</a></li>
          </ul>
          <div class="ps-tabs">
            <div class="ps-tab"  [ngClass]="{'active': op == 1}">
                <div class="ps-checkout">
                    <form class="ps-form--checkout" #registroForm="ngForm" (ngSubmit)="registrar(registroForm)" style="margin-bottom: 50px;">
                        <div class="row">
                          <div class="col-md-12 mx-auto">
                            <div class="ps-form__billings">

                              <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">Nombres</label>
                                    <input type="text" required class="form-control form-control-lg" name="nombres" [(ngModel)]="direccion.nombres" placeholder="Nombres completos">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">Apellidos</label>
                                    <input type="text" required class="form-control form-control-lg" name="apellidos" [(ngModel)]="direccion.apellidos" placeholder="Apellidos completos">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">Documento de Identidad
                                        <span *ngIf="currency != 'USD'"> (Opcional)</span>
                                    </label>
                                    <input *ngIf="currency == 'USD'" type="text" required class="form-control form-control-lg" name="dni" [(ngModel)]="direccion.dni" placeholder="Documento de Identidad">
                                    <input *ngIf="currency != 'USD'" type="text" class="form-control form-control-lg" name="dni" [(ngModel)]="direccion.dni" placeholder="Documento de Identidad">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">ZIP
                                        <span *ngIf="currency == 'USD'"> (Opcional)</span>
                                    </label>
                                    <input *ngIf="currency != 'USD'" type="text" required class="form-control form-control-lg" name="zip" [(ngModel)]="direccion.zip" placeholder="Código postal">
                                    <input *ngIf="currency == 'USD'" type="text" class="form-control form-control-lg" name="zip" [(ngModel)]="direccion.zip" placeholder="Código postal">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">Telefono</label>
                                    <input type="text" required class="form-control form-control-lg" name="telefono" [(ngModel)]="direccion.telefono" placeholder="Telefono">
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label for="ac-fn">Dirección</label>
                                    <textarea required class="form-control" placeholder="Direccion" name="direccion" [(ngModel)]="direccion.direccion" rows="3"></textarea>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <label for="ac-fn">Referencia
                                        <span *ngIf="currency != 'USD'"> (Opcional)</span>
                                    </label>
                                    <textarea *ngIf="currency == 'USD'" type="text" required class="form-control" placeholder="Referencia" name="referencia" [(ngModel)]="direccion.referencia" rows="2"></textarea>
                                    <textarea *ngIf="currency != 'USD'" type="text" class="form-control" placeholder="Referencia" name="referencia" [(ngModel)]="direccion.referencia" rows="2"></textarea>
                                </div>
            
            
                                <div class="col-sm-6 form-group">
                                    <label for="ac-fn">País</label>
                                    <select class="form-control" name="str_pais" required [(ngModel)]="str_pais" (change)="select_pais()">
                                        <option value="" selected disabled>Seleccionar</option>
                                        <ng-container *ngFor="let item of zonas">
                                            <option value="{{item.country}}_{{item.zona}}" >{{item.country}}</option>
                                         
                                           
                                        </ng-container>
                                        
                        
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group" *ngIf="direccion.pais != 'Ecuador'">
                                    <label for="ac-fn">Región / Ciudad</label>
                                    <input type="text" required class="form-control form-control-lg" name="distrito" [(ngModel)]="direccion.distrito" placeholder="Ciudad">
                                </div>
                                <div class="col-sm-6 form-group" *ngIf="direccion.pais == 'Ecuador'">
                                    <label for="ac-fn">Región</label>
                                    <select id="sl-region"  name="region" [(ngModel)]="direccion.region" class="form-control" disabled (change)="select_region()">
                                        <option value="" selected disabled>Seleccionar</option>
                                        <option value="{{item.id}}" *ngFor="let item of regiones">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group" *ngIf="direccion.pais == 'Ecuador'">
                                    <label for="ac-fn">Provincia</label>
                                    <select id="sl-provincia" name="provincia" [(ngModel)]="direccion.provincia" class="form-control" disabled (change)="select_provincia()">
                                        <option value="" selected disabled>Seleccionar</option>
                                        <option value="{{item.id}}" *ngFor="let item of provincias">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group" *ngIf="direccion.pais == 'Ecuador'">
                                    <label for="ac-fn">Caton</label>
                                    <select id="sl-distrito" name="distrito" [(ngModel)]="direccion.distrito" class="form-control" disabled>
                                        <option value="" selected disabled>Seleccionar</option>
                                        <option value="{{item.id}}" *ngFor="let item of distritos">{{item.name}}</option>
                                    </select>
                                </div>
                               
                                <div class="col-sm-12">
                                  <button type="submit" class="ps-btn ps-btn--fullwidth ps-btn--black">Guardar</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ps-tab"  [ngClass]="{'active': op == 2}" >
                <div class="">
                    <div class="ps-form--checkout" >
                      <div class="row">
                          <div class="col-md-12 mx-auto">
                             
                              <div class="row">
                                  <ng-container *ngIf="!load_data">
                                      <div class="col-12" *ngIf="direcciones.length >= 1">
                                          <ng-container *ngFor="let item of direcciones">
                                              <div class="card mb-3">
                                                  <div class="card-body">
                                                      <figure>
                                                          <figcaption>{{item.destinatario}}</figcaption>
                                                          <span class="d-block mb-3 font-size-sm text-muted">{{item.zip}}</span>
                                                  
                                                          <div class="row">
                                                              <div class="col" *ngIf="item.pais == 'Ecuador'">
                                                                  <p>
                                                                      {{item.direccion}}
                                                                      <ng-container *ngIf="item.referencia">
                                                                          <br>
                                                                          {{item.referencia}}
                                                                      </ng-container>
                                                                      
                                                                  </p>
                                                                  <p>
                                                                    {{item.pais}}, {{item.region}}
                                                                   <br>
                                                                    <span>{{item.provincia}}, {{item.distrito}}</span>
                                                                  </p>
                                                              </div>
                                                              <div class="col" *ngIf="item.pais != 'Ecuador'">
                                                                  <p>
                                                                      {{item.direccion}}
                                                                  </p>
                                                                  <p>
                                                                  {{item.pais}}, {{item.distrito}}
                                                                  </p>
                                                                  
                                                              </div>
                                                              <a class="text-danger" (click)="eliminar(item._id)" style="cursor: pointer;margin-right: 2rem;">[Eliminar]</a>
                                                          </div>
                                                      </figure>
                                                      
                                                  </div>
                                              </div>
                                          </ng-container>
                                      </div>
                                      <div class="col-12" *ngIf="direcciones.length == 0">
                                        <div class="rounded mb-5 p-3">
                                            <form class="ps-form--404" action="404-page.html" method="get">
                                              <div class="ps-form__header">
                                                <img src="assets/images/icono-no-orden.png" alt="">
                                              </div>
                                              <h4 class="text-muted">No tienes ninguna dirección registrada.</h4>
                                      
                                            </form>
                                          </div>
                                      </div>
                                  </ng-container>
                                  
                                  <div class="col-12 text-center" *ngIf="load_data">
                                      <span>Cargando...</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>


        
      </div>
    </div>
  </div>


<app-footer></app-footer>