
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotros</h5>
        <h3>Nacimos para respaldar e inspirar a todos los apasionados</h3>
        <p>El Mercado la Condamine es un mercado muy variado. Su oferta va desde platos típicos acompañados por los tradicionales jugos naturales de fruta, muy conocidos en Riobamba, hasta la venta de ropa, tejidos entre otros.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/frente.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/Jordycell.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum..</p>
        </blockquote>
        <figure><small>LOREM IPSUM</small>
          <h4>Fundadora y CEO</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Prendas y accesorios 100% genuinas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea mollitia quos sed numquam, hic quod unde blanditiis est, quia modi perferendis, odit qui ipsam neque iusto deserunt libero eveniet.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Lorem ipsum</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias alias possimus quibusdam sapiente ducimus necessitatibus deserunt at, provident recusandae, quo, officiis iusto modi saepe pariatur nulla est vero! Exercitationem inventore optio quis, mollitia iste odit nisi dignissimos soluta sint placeat at quo numquam voluptatem quos, sapiente modi omnis aperiam!</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>