
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotros</h5>
        <h3>Nacimos para respaldar e inspirar a todos los apasionados</h3>
        <p>El Mercado la Condamine es un mercado muy variado. Su oferta va desde platos típicos acompañados por los tradicionales jugos naturales de fruta, muy conocidos en Riobamba, hasta la venta de ropa, tejidos entre otros.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/frente.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/1_auto_x2.jpg" style=" max-width: 120%;
        max-height: 120%;  height: 400px;
 width: 400px;" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Lo que necesitas para estar siempre conectado 🤳🤳</p>
        </blockquote>
        <figure><small>Nuestra prioridad</small>
          <h4>Ofrecemos servicio técnico Garantizado. Entrega inmediata. Repuestos originales. Venta de celulares, accesorios Visítenos siempre es un placer servirles🤗😁👌💯</h4>
          <p>Disponibles Pantallas para todos los modelos.
            La puesta Totalmente gratis. 💸
            Visítenos en el Centro Comercial Popular "La Condamine" Sección celulares. Local #5!! 🔵</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Prendas y accesorios 100% genuinas</h3>
        <p>Hermosa camiseta para tu chiquita, ideal para cualquier outfit, mirala que luzca siempre a la moda y con la mejor calidad y comodidad, visitanos y conoce muchos mas modelos, TE ESPERAMOS- LOS VESTIMOS CON AMOR!!🥰😍</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/2.jpeg" style=" max-width: 80%;
      max-height: 75%;" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Lorem ipsum</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias alias possimus quibusdam sapiente ducimus necessitatibus deserunt at, provident recusandae, quo, officiis iusto modi saepe pariatur nulla est vero! Exercitationem inventore optio quis, mollitia iste odit nisi dignissimos soluta sint placeat at quo numquam voluptatem quos, sapiente modi omnis aperiam!</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>