<app-nav></app-nav>

<section class="border-bottom py-3 pt-md-4 mb-4 mt-5">
    <div class="container">
      <div class="row justify-content-center pb-2 pb-md-3">
        <div class="col-lg-8 col-md-10">
          <h1 class="mb-4 pb-1 text-center">Términos del servicio</h1>
    
        </div>
      </div>
    </div>
</section>

<section class="border-bottom" >
    <div class="container py-2 pt-md-3" style="margin-bottom: 100px !important;">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <p class="d-sm-none d-md-block card-text" style="margin-top: 4rem;margin-bottom: 4rem;">
                Bienvenida a la tienda virtual. Te invitamos a leer detenidamente los términos y condiciones sobre el uso de nuestro sitio web.
            </p>

            <h4 class="mb-2 pb-1">
                Registro del cliente
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                El registro en nuestra tienda virtual es gratuito. No es requisito indispensable para la adquisición de productos, pero te permitirá realizar compras de manera personalizada y más rápida.
            </p>

            <h4 class="mb-2 pb-1">
                Servicio
            </h4>

            <p class="d-sm-none d-md-block card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium temporibus amet ratione, expedita deleniti consequuntur ducimus, incidunt doloremque laborum mollitia in earum voluptatem omnis blanditiis labore. Nesciunt, architecto eum. Rerum?
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit facilis qui maxime laudantium impedit aliquam iste voluptatem dicta beatae?
            </p>

            <h4 class=" mb-2 pb-1">
                Formas de pago
            </h4>

            <p class="d-sm-none d-md-block card-text">
                La tienda ofrece las siguientes opciones de pago:
            </p>
            <ul style="margin-bottom: 4rem;">
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Mercado Pago: Tarjetas de crédito y/o débito Visa, MasterCard, Dinners y American Express.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Transferencia o depósito.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Yape o plin.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Paypal (Internacional).
                    </p>
                </li>
            </ul>

            <h4 class="mb-2 pb-1">
                Deberes e impuestos
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Los paquetes con envío internacional (fuera de Ecuador) pueden estar sujetos a aranceles e impuestos. Estos montos no están incluidos en el precio de los productos ni en los costos de envío. La tienda no se responsabiliza por los montos asociados a la importación. Dichos montos deberán ser cubiertos por el destinatario del paquete.
                Los deberes y aranceles son establecidos por las autoridades aduaneras de cada localidad, por lo que recomendamos que antes de realizar una compra, consultes el sitio web de aduanas de tu localidad para obtener mayor información.

            </p>

            <h4 class="mb-2 pb-1">
                Derechos de autor
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                La tienda es responsable de todo el contenido de este sitio web, así como de cualquier cambio que este presente. Así mismo, toda información, datos, fotografías, gráficos, videos o contenido dentro de este sitio web, es propiedad de la tienda. Se prohíbe el uso de los mismos sin autorización, pues viola las leyes nacionales y/o internacionales de derecho de autor y privacidad.
            </p>

            <h4 class=" mb-2 pb-1">
                Privacidad
            </h4>
            <p class="d-sm-none d-md-block card-text">
                Nuestra base de datos es privada y confidencial garantizando la información personal de nuestros clientes. Al acceder a nuestro servicio, el cliente acepta los términos y condiciones expuestos anteriormente y está conforme con ellos.
            </p>
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>